@import 'base';
@import 'variables';

// header section
.header {
    background-image: url("../Images/Header-bg.png");
    width: 100%;
    background-size: cover;

    .navbar {

        padding: $font-medium;
        align-items: baseline;
        margin-bottom: 100px;

        @include flexLayout;


        .brand {

            @include flexLayout;
            align-items: baseline;

            .logo {
                @include anchorHover;
            }

            .nav-title {
                padding-left: $font-small;
                color: $text-light;

                &:hover {
                    color: $primary-color;
                }
            }
        }

        ul {
            list-style: none;


            li {
                display: inline-block;

                // padding: 0px 10px;
                &:not(last-child) {
                    padding: 0px 10px;
                }

                a {
                    @include hoverLinks(24px);
                }

            }

        }

        .search-bar {
            padding: $font-small;
            border-radius: 15px;
            border: $font-none;
        }

    }

    .banner {
        text-align: center;
        color: $text-light;

        .banner-text-container {
            @include flexLayoutBaseLine;

            .banner-text-heading {
                padding-left: $font-small;
                font-size: $font-large;
            }

        }

        .banner-text-para {
            font-size: $font-medium;
            padding: $font-fity $font-none;
        }

    }


}

//main section

.main {

    .ourfood-section {
        // background-color: $food-section-color;
        //    width: 90%;
        margin: $font-db-hundred $font-none;
        //    padding: $font-large;
        @include flexLayoutAround;

        .ourfood-image {
            // object-fit: contain;
            width: 50% !important;
        }

        .our-food-categories {
            .our-food-title {
                font-size: $font-large;
                // padding-bottom: 20px;
                position: relative;

                &::after {
                    @include hoverBottomLineEffect;
                }

                &:hover {
                    color: $primary-color;
                }

                &:hover::after {
                    @include hoverScale;
                }

            }

            .our-food-categories-container {
                margin-top: $font-medium;

                .our-food-categories-list {
                    @include flexLayoutBaseLine;
                    background-color: $secondary-color;
                    border: 1px solid $primary-color;
                    border-radius: $font-small-medium;
                    padding: $font-small;
                    margin-bottom: $font-small;

                    &:hover {
                        background-color: $teritary-color;
                    }

                }



            }


        }
    }

    .plans-section {
        background-color: $primary-color;
        text-align: center;
        padding-bottom: $font-fity;

        .plan-head {
            color: $text-light;
            font-size: $font-large;
            padding: $font-fity;

        }

        .plans-card-container {
            @include flexLayoutAround;
            color: $text-light;

            .plan1 {
                @include planCard($bg-image-1);
                @include flexLayoutEnd;

                .plan-title {

                    font-size: $font-medium;

                    span {
                        font-size: $font-large;
                        color: $primary-color;
                    }
                }
            }

            .plan2 {
                @include planCard($bg-image-2);
                @include flexLayoutEnd;

                .plan-title {
                    color: $primary-color;
                    font-size: $font-large;
                }
            }

        }


    }
}

//footer section

.footer {
    background: url('../Images/footerbg.png');
    background-size: cover;
    background-color: black;
    color: $text-light;
    padding-top: $font-large;

    // padding: 5px;
    .contactus-section {
        padding: $font-medium;

        @include flexLayout;

        address {
            font-style: normal !important;
            padding: $font-base;

            h4 {
                padding-bottom: $font-small;
            }

            span {
                a {
                    @include anchorHover;
                }
            }

        }

        ul {
            list-style: none;

            li {

                // padding: 0px 10px;
                &:not(last-child) {
                    padding: $font-base $font-none;
                }

                a {
                    @include hoverLinks(18px);
                }
            }
        }

        .social-container {
            padding-top: $font-medium;

            i {
                margin-right: $font-base;
                font-size: $font-medium;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }

    .copy-right-text {
        padding: $font-small $font-medium;
    }
}