$text-light: white;
$primary-color:#ff7000;
$secondary-color: lightpink;
$teritary-color:aqua;
$bg-image-1:"../Images/pizza1.png";
$bg-image-2:"../Images/pizza2.png";
$font-none: 0px;
$font-base: 5px;
$font-small: 10px;
$font-small-medium:15px;
$font-medium: 20px;
$font-large: 40px;
$font-fity:50px;
$font-hundred:100px;
$font-db-hundred:200px;
